.margintop
  margin-top 30px
  overflow hidden
  border 1px solid black
  height 500px
  width 1000px
  display flex
  position relative
  .rect
    position absolute
    height 100px
    width 100px
    
    // animation-duration 3s
    // animation-iteration-count infinite // 动画播放的次数
    animation-direction alternate // 播放方向 normal | reverse | alternate | alternate-reverse
    // animation-fill-mode forwards
    // transform translate(100px, 200px)
    // animation-timing-function linear // linear ease ease-in ease-in-out ease-out step-start step-end
    &:nth-child(1)
      animation-duration 1s
      animation-name slideina
      z-index 3
    &:nth-child(2)
      animation-name slideinb
      animation-duration 4s
      z-index 2
    &:nth-child(3)
      animation-name slideinc
      animation-duration 3s
      z-index 1
  .a 
    background red
  .b
    background green
  .c
    background yellow

  @keyframes slideina {
    from {
      margin-left 120px
      // height 100px
      // width 100px
      transform scale(0.7)
    }
    // 50% {
    //   opacity: 0.9;
    // }
    to {
      // height 120px
      // width 120px
      // opacity: 0.1;
      transform scale(1)
    }
  }

  @keyframes slideinb {
    from {
      margin-left 150px
      // margin-top 10px
      // height 80px
      // width 80px
      transform scale(0.6)
    }
    to {
      // margin-top 10px
      // height 100px
      // width 100px
      transform scale(0.7)
      // opacity: 0.1;
    }
  }

  @keyframes slideinc {
    from {
      transform scale(0.4)
      margin-left 190px
      // margin-top 20px
      // height 60px
      // width 60px
    }
    to {
      // margin-top 20px
      // height 80px
      // width 80px
      transform scale(0.6)
      // opacity: 0.1;
    }
  }

// .form-item-label
//   display block
//   margin-bottom 21px
//   font-size 16px
// .form-item-input.date
//   // height 40px
//   // border 1px solid #6997fe
//   &::-webkit-datetime-edit 
//     padding 1em
//   &::-webkit-datetime-edit-fields-wrapper
//     background silver
//   &::-webkit-datetime-edit-text 
//     color red
//     padding 0 0.3em
//   &::-webkit-datetime-edit-month-field
//     color blue
//   &::-webkit-datetime-edit-day-field 
//     color green
//   &::-webkit-datetime-edit-year-field 
//     color purple
//   &::-webkit-inner-spin-button 
//     displa none
//   &::-webkit-calendar-picker-indicator 
//     background orange