
.form-item-label
  display block
  margin-bottom 21px
  font-size 16px
.form-item-input.date
  // height 40px
  // border 1px solid #6997fe
  &::-webkit-datetime-edit 
    padding 1em
  &::-webkit-datetime-edit-fields-wrapper
    background silver
  &::-webkit-datetime-edit-text 
    color red
    padding 0 0.3em
  &::-webkit-datetime-edit-month-field
    color blue
  &::-webkit-datetime-edit-day-field 
    color green
  &::-webkit-datetime-edit-year-field 
    color purple
  &::-webkit-inner-spin-button 
    displa none
  &::-webkit-calendar-picker-indicator 
    background orange