.stack
  background white
  border 1px solid red
  padding 10px 
  line-height 0
  .text
    fill: #999999
    font-weight bold 
  .axis 
    path 
     stroke #e8e8e8
    line    
      stroke none
  .axisX
    text 
      font-size 14px
      color #000000
      font-weight 400
  .axisY
    text 
      font-size 14px
      color #666666
      font-weight 400
  .tooltip 
    color #ffffff
    background #000000
    padding .5em
    border-radius 4px
    opacity 0.8
    line-height 1.5
    position absolute
    .dot
      display inline-block
      margin-right 5px
      border-radius 10px
      width 10px
      height 10px