.swiper {
  position: relative;
  width: 600px;

  /* 下面是为了让大家看的更清楚，加的修饰 */
  padding: 30px 0;
  margin: 0 auto;
  background: #FFB973;
}
.swiper .swiper-container {
  position: relative;
  /* 为啥要设置-300px呢，因为我想让他默认在第二个滑块的位置，一会会给大家演示 */
  left: 0;
  width: 400px;
  /* 让容器尽可能的宽，这样才能容纳更多的滑块 */
  /* width: 100%; */
  /* 让内部滑块可以排成一行 */
  display: flex;

  /* 下面是为了让大家看的更清楚，加的修饰 */
  background: red;
  padding: 15px 0;
}

.swiper .swiper-container .swiper-item {
  /* 宽度设置1%会按照外层视图的宽度来铺满 */
  width: 200px;
  height: 300px;
  background: #eee;

  /* 下面是为了让大家看的更清楚，加的修饰 */
  text-align: center;
  font-size: 40px;
  color: #fff;
  /* transition-timing-function: ease */
  animation: slideina 3s infinite;
}

.swiper-item:nth-child(2) {
  animation-name: slideinb;
  /* animation-duration 4s */
  /* z-index 2 */
}

@keyframes slideina {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes slslideinbideina {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}


@keyframes rowup {
  0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  100% {
      -webkit-transform: translate3d(-307px, 0, 0);
      transform: translate3d(-307px, 0, 0);
  }
}
.list{
  width: 500px;
  border: 1px solid #999;
  margin: 20px auto;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.list .rowup{
  display: flex;
  -webkit-animation: 10s rowup linear infinite normal;
  animation: 10s rowup linear infinite normal;
  position: relative;
  transition: left 0.2s ease-in-out;
}

.item {
  flex: 1;
  /* width: 200px; */
  height: 300px;
  margin: 30px;
}