.page-user
  height 100%
  background rgb(230, 236, 255)
  display flex
  flex-direction column
  overflow auto
  .section-a
    flex 1
    min-width 1000px
  .section-b
    position relative
    background rgb(153, 175, 255) 
    .footer-bottom
      position absolute
      height 90px
      width 100%
      left 0
      top -90px
      background rgb(153, 175, 255) 
  .section-c
    // height 390px
    margin 0 auto
    box-shadow 0 0 20px 0 rgba(42,89,72,1)
    z-index 1
    .section-c-footer
      height 90px
      line-height 90px
      text-align center


