
// input
//   &:invalid
//     background #ffdddd
//   &:required 
//     background blue  
  // &:required:invalid
  //   background red


.start-text
  color #333333
  font-size 14px
  font-weight 400
.end-text
  color #999999
  font-size 14px
  font-weight 400

.demo-form
  width 600px
  border 1px solid gray
  padding 10px
  .form-item
    margin-top 30px
    position relative
    color #333333
    font-size 14px
    font-weight 400
    .form-item-label
      position absolute
      left 10px
      top 10px
      transition all 0.5s
    .form-item-input
      height 40px
      width 100%
      padding-left 10px
      outline 0
      border none
      &:focus + .form-item-label 
        color #999999 
        top -21px
    .field-line
      .input-line
        margin 0
        border none 
        height 1px
        background #e7e7e7
        &.focus-line
          background #2878ff
        &.error
          background red
    .input-error
      height 21px
      line-height 21px
      color red
      transition all 0.5s
    &.no-empty-state
      .form-item-label 
        top -21px
        color #999999 


