$color = #6997fe

.api-form
  margin 24px
  border 1px solid $color // 自己搞了边
  padding 24px
  // 表单 标签左对齐
  .ant-form-item
    display flex
    .ant-form-item-label
      width 120px
      text-align left 

  // 高级配置 按钮
  .collapse-btn
    display block
    border none 
    background-color #ffffff
    color $color
    padding 0
    margin 0
    margin-bottom 24px
    outline 0
    .collapse-btn-icon // Icon旋转
      transition all 0.3s
      &.transform
        transform rotate(180deg)
  // 调用次数默认不显示
  .item-count
    display none
    position relative
    &.show
      display block
    .count-tooltip // 帮助Icon
      position absolute
      top 13px
      right -24px
