.box {
  width: 150px;
  height: 150px;
  background: red;
  margin-top: 20px;
  transition: background-color 2s ease-out, padding 2s;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    padding: 20px;
    border-radius: 20px;
    background-color: green;
    transition: border-radius 2s;
    cursor: pointer;
  }
}
