.view 
  flex: 1
  display: flex
  flex-direction: column
  margin: 0 10px 10px 10px
  min-height: calc(100% - 20px)
  .header 
    display: flex
    align-items: center
    flex: 0 0 48px
  .content 
    position: relative
    flex: 1
    background: #fff
  .no-header
    margin-top: 20px
  .title 
    height: 48px
    border-bottom: 1px solid #e7e7e7
    font-size: 16px
    color: #333
    padding: 0 20px
    display: flex
    align-items: center
    justify-content: space-between
  .title-left 
    flex-shrink: 0
  .title-right 
    flex-shrink: 0
  .content-body 
    padding: 0 20px 60px 20px
  :global 
    .ant-form-inline .ant-form-item:last-child 
      margin-right: 0
    .ant-pagination 
      text-align: center
      float: none
      
      
    

