.header-content 
  background: #f0f2f5
  .header 
    display: flex
    align-items: center
    padding: 12px 28px
  :global 
    .ant-form-inline .ant-form-item:last-child 
      margin-right: 0
    .ant-pagination 
      text-align: center
      float: none
      
      
    

