.demo-sider
  height calc(100vh - 80px)
  // overflow hidden 
  width 100%
  padding 16px 0
  
  .ant-menu-inline, .ant-menu-item-selected
    border-right none
    background transparent  !important
    // color white
  .ant-menu-inline
    .ant-menu-item-selected > a
      color white 