// 模态框表单
.modal-form
  .ant-form-item
    .ant-form-item-label
      float left
      width 33%
    .ant-form-item-control-wrapper
      float left
      width 67%

.ant-spin-container 
  overflow visible !important

.global-spin 
  width 100%
  margin auto !important
// 模态框
.ant-modal
  .ant-modal-header
    border none 
    .ant-modal-title
      font-size 16px
      font-weight bold
  .ant-modal-footer
    border-top 1px solid #ffffff
    padding 0 24px 24px 24px
    .ant-btn
      min-width 90px
      padding 0 28px
      height 34px 
// 表单字体
table 
  font-size 14px
// 表单头部
.ant-table-wrapper
  .ant-table-thead > tr > th
    background-color #ffffff 
  // 表单中间的横线
  .ant-table-tbody > tr > td
    border-bottom none 
// 分页按钮
.ant-pagination-item-active
  background #6997fe !important 
  a
    color #ffffff !important

// 侧边栏选中时的竖线
.ant-menu-inline 
  .ant-menu-item:after
    border-right none !important

// 按钮颜色
.ant-btn-primary:focus
  background #6997fe !important
  border #6997fe !important

.ant-btn
  min-width 90px
  padding 0 28px
  outline none
.ant-btn[disabled]
  background-color #6997fe
  color #ffffff
  border-color #6997fe
  pointer-events painted

// 链接
a
  text-decoration none !important

// 客房 公共门前面的小竖杠
.common
  .title
    color #0e0e0e
    font-weight bold
    margin-right 20px
  .title:before
    content ''
    height 14px
    margin-right 8px
    border-left 2px solid #6997fe

.ant-modal-close-x
  font-size 20px

.red
  color red
.gray
  color gray

// 警告信息为红色
.ant-message-error
  color red

// 两行文字省略效果
.wraptext
  max-height 3em
  line-height 1.5em
  overflow hidden
  text-align justify
  word-break break-all
  position relative
  margin-right -1.5em
  padding-right 1.5em
  &:before
    content '...'
    position absolute
    bottom 0
    right 0
  &:after
    content ''
    position absolute
    right 0
    width 1em
    height 1em
    margin-top 0.2em
    background #ffffff
// .ant-table-tbody > tr:hover > td
//   background-color #ffffff !important
.ant-table-tbody > tr:hover > td > .wraptext:after
  background #f0f7ff
  transition all 0.3s, border 0s

[ant-click-animating-without-extra-node]:after 
	animation 0s !important
