add(a, b)
 a + b

add2(a, b = unit(a, px))
  a + b

add3(a, b)
  unit(a, px) + unit(b, px)

// sizes = 15px 10px
// sizes[0]

sizes()
  15px 20px


unitF(n)
  n == 0 ? n : unit(n, px)

$fontColor = {
  '0': #000, 
  '1': #111,
  'f': #fff
}

for $key, $value in $fontColor
  .fcs{$key}
    color $value

for $key in 0 9 100
  .ms{$key}
    margin unitF($key)

.test
  background red(#00c)
  border 10px solid green
  box-sizing border-box
  font-size sizes()[1]
  // box-sizing content-box
  padding add(10px, 5)
  margin add2(50)
