.ant-tabs
  .ant-tabs-bar
    border-bottom 0
    margin-bottom 48px
    .ant-tabs-nav-wrap
      margin 0
      .ant-tabs-nav
        .ant-tabs-tab
          border 1px solid #dddddd
          border-right 0
          margin-right 0
          margin-bottom 8px
          // padding-top 5px
          height 34px
          // width 90px
          padding 5px 28px 0 28px
          text-align center
          border-radius 0
          // border-top-left-radius 4px
          // border-top-right-radius 4px
          color #333333
          position relative
        .ant-tabs-tab-active
          background #6997fe
          color #ffffff
          border 1px solid #6997fe
        .ant-tabs-tab-active:after
          content ""
          display block
          color red
          position absolute
          left calc(50% - 10px)
          border-top 8px solid #6997fe
          border-left 10px solid transparent
          border-right 10px solid transparent
          top 100%
        .ant-tabs-tab:last-child
          border-right 1px solid #dddddd
        .ant-tabs-ink-bar
          height 0
      .ant-tabs-nav > div > div:first-child
        border-top-left-radius 4px
      .ant-tabs-nav > div > div:last-child
        border-top-right-radius 4px