.base-layout
  height 100%
  section 
    display flex
    flex auto
    min-height 0
    background #f0f2f5
    flex-direction row
    aside
      background #001529
      transition all 0.2s
      position fixed
      top 0
      left 0
      z-index 10
      min-height 100vh
      box-shadow 2px 0 6px rgba(0, 21, 41, 0.35)
      flex 0 0 180px
      max-width 180px
      min-width 180px
      width 180px
    section 
      display flex
      flex auto 
      flex-direction column
      overflow-x hidden
      min-height 100vh
      padding-left 180px
      header 
        padding 0px
        width calc(100% - 180px)
        height 64px
        line-height 64px
        background #001529
        flex 0 0 auto 
        position fixed
        top 0
        right 0
        z-index 9
        transition width 0.2s
        .global-header
          position relative
          height 64px
          padding 0
          background gray
          box-shadow 0 1px 4px rgba(0, 21, 41, 0.08)
          .global-header-right
            float right
            height 100%
            padding-right 32px
            overflow hidden
      main 
        flex auto 
        min-height 0
        margin 24px
        padding-top 64px
    .aside-layout
      .link-logo
        display block
        text-align center
        border 1px solid white
        height 80px
        line-height 80px
        img
          animation Logo-spin infinite 20s linear 
          height 48px
          width 48px
          border 1px solid red
        @keyframes Logo-spin {
          from {
            transform: rotate(0deg)
          }
          to {
            transform: rotate(360deg)
          }
        }

.Loading_wrap 
  height 100%




// .app
//   text-align center
//   // background-color #282c34
//   height 100%
//   min-height 100vh
//   .app-header 
//     width 600px
//     padding 100px 0
//     margin auto
//     button
//       width 200px
//       margin-right 100px
//   .app-main
//     width 600px
//     margin auto
//     /* 所有具有"data-vegetable"属性的元素将被应用绿色的文本颜色 */
//     [data-vegetable] 
//       color green
//     /* 所有具有"data-vegetable"属性且属性值刚好为"liquid"的元素将被应用金色的背景颜色 */
//     [data-vegetable="liquid"]
//       background-color goldenrod
//     /* 所有具有"data-vegetable"属性且属性值包含"spicy"的元素，
//     即使元素的属性中还包含其他属性值，都会被应用红色的文本颜色 */
//     [data-vegetable~="spicy"] 
//       color red



