// .page-header
//   position fixed
//   height 64px
//   width 100%
//   left 0
//   top 0
//   // background rgb(153, 179, 255)
//   box-shadow 0 0 3px 0 rgb(153, 179, 255)
//   z-index 3
//   overflow auto
.global-header
  height 64px
  width 100%
  color white
  .global-header-right
    height 64px
    line-height 64px
    width 80px
    float right
    &.hidden
      display none