#root
  width 100%
  height 100%
  .page-frame
    position relative
    width 100%
    height 100%
    .page-section
      position relative
      top 64px
      height calc(100vh - 64px)
    .page-section-left
      left 200px
      width calc(100vw - 200px)
      overflow auto
      padding 16px