.item
  color: #108ee9
  text-decoration:none
  white-space: nowrap
  &:hover
    cursor: pointer
    opacity: .6
  
.inline
  display: flex
  align-items: center

.column
  display: flex
  flex-direction: column
  .item
    padding: 4px 0
  
.separator
  color: #a8a8a8
  display: flex
  align-items: center
  justify-content: center
  .separator-default
    height: 100%
    width: 1px
    background: #ddd
  

